.widget-demo-holiday button.btn.btn-atoll {
    background-color: #036d83;
    border-color: #024451;
    color: white;
}
.widget-demo-holiday button .btn.btn-atoll:hover {
    background-color: #04829c;
    border-color: #02586a;
}